################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tools/import-gitops/.vs/import-gitops/v17
/tools/import-gitops/obj
/tools/import-gitops/bin/Debug/net6.0
/tools/import-gitops/.vs/import-gitops/DesignTimeBuild/.dtbcache.v2
